body {
	background-color: #000;
}
.main {
	background-color: #fff;
	margin-top: 110px;
	padding-left: 200px;
	min-width: 1200px;
	height: 500px;
	position: relative;
	z-index: 1;
}
/*RYU*/
.ryu-content {
  float: left;
}
.ryu {
	width: 659px;
  height: 494px;
}
.hadouken, .ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
  background-repeat: no-repeat;
}
.ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
  width: 659px;
  height: 494px;
}
.ryu-ready, .ryu-throwing, .ryu-cool {
  display: none;
} 
.ryu-ready {
  background-image: url('../images/ryu-ready-position.gif');
}
.ryu-still {
  background-image: url('../images/ryu-standing-still.png');
}
.ryu-throwing {
  background-image: url('../images/ryu-throwing-hadouken.png');
}
.ryu-cool {
  background-image: url('../images/ryu-cool.gif');
}
.ryu-level {
  background-image: url('../images/ryulevel.jpg');
  background-size: cover;
  background-position: left bottom;
}
/*HADOUKEN*/
.hadouken {
  background-image: url('../images/hadouken.gif');
  width: 156px; 
  height: 90px;
  display: none;
  float: left;
  left: 520px;
  top:168px;
  position: absolute;
  z-index: 10;
}
/*INSTRUCTIONS*/
.instructions-content {
  width:459px;
  height:494px;
  position: absolute;
  right: 300px;
  top:30px;
  padding: 3em;
  display: none;
}
.instructions-content p{
  text-align: center;
  font-family: 'Bangers', cursive;
  font-size: 3em;
}
.instructions-content p span {
  color: red;
}
}