body {
	background-color: #000;
}
.main {
	background-color: #fff;
	margin-top: 110px;
	padding-left: 100px;
	min-width: 1200px;
	height: 500px;
	position: relative;
	z-index: 1;
}
/*RYU*/
.ryu {
	float: left;
	width: 659px;
    height: 494px;
}
.hadouken, .ryu-ready, .ryu-still, .ryu-throwing {
  background-repeat: no-repeat;
}
.ryu-ready, .ryu-still, .ryu-throwing {
  width: 659px;
  height: 494px;
}
.ryu-ready, .ryu-throwing {
  display: none;
} 
.ryu-ready {
  background-image: url('../images/ryu-ready-position.gif');
}
.ryu-still {
  background-image: url('../images/ryu-standing-still.png');
}
.ryu-throwing {
  background-image: url('../images/ryu-throwing-hadouken.png');
}
/*HADOUKEN*/
.hadouken {
  background-image: url('../images/hadouken.gif');
  width: 156px; 
  height: 90px;
  display: none;
  float: left;
  left: 520px;
  top:168px;
  position: absolute;
  z-index: 10;
}